<!-- Conteúdo do mercado -->
<h1>Mercado</h1>
<p>Pontos do jogador: {{ player.points }}</p>

<ul>
  <li><a href="{% url 'buy_item' 1 %}">Comprar Armadura (30 pontos)</a></li>
  <li><a href="{% url 'buy_item' 2 %}">Comprar Arma (25 pontos)</a></li>
  <li><a href="{% url 'buy_item' 3 %}">Comprar Comida (5 pontos)</a></li>
  <li><a href="{% url 'buy_item' 4 %}">Comprar Poção (15 pontos)</a></li>
</ul>

<!-- Adicione o botão para ir para a aventura -->
<a href="{% url 'adventure' %}">Ir para a Aventura</a>
